.FinishedQuiz{
    padding: 20px;
    color: white;
    border-radius: 5px;
    border: 2px solid #fff;
    margin: 0 10px;
}

.FinishedQuiz ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.FinishedQuiz ul li{

}
.FinishedQuiz ul li i{
     margin-left: 10px;
 }

.FinishedQuiz ul li i{
    margin-left: 10px;
}

.success {
    color: lightgreen;
}

.error {
    color: indianred;
}