.QuizCreator{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100vw;
    background: linear-gradient(270deg, #f0613c 0%, #f0783c 100%);
}
.QuizCreator h1{
    color: #fff;
    text-align: center;
}

.QuizCreator form{

    background: #eee;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}